* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgba(35, 66, 6, 0.8);
}

html {
  font-family: "Times New Roman", Times, serif;
  color: white;
}
a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  transition: all 200ms ease-in-out;
  padding: 10px 25px;
  border-radius: 10px;
  background: transparent;
}

.top-link:hover {
  background-color: orange;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

header {
  background-image: url(school.jpg);

  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
}
nav {
  display: flex;
left: 100%;
justify-content: flex-end;
}


h1 {
  font-size: 50px;
  color: white;
  margin: 0;
}

h2 {
  font-size: 32px;
  padding: 10px;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 10px 20px;
}
.name {
  display: flex;
  align-items: center;
  gap: 30px;
justify-content: space-around;
}

.hero {
  color: white;
  max-width: 300px;
  padding: 20px;
}

.hero-title {
  font-size: 24px;
  margin: 20px auto;
}
.hero-button {
  padding: 15px 40px;
  margin-top: 20px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  background: transparent;
  font-size: 18px;
  font-weight: 400;
  border-radius: 30px;
  border: none;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-button:hover {

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.news-cards {
display: flex;
flex-direction: column;
gap: 20px;
  /* display: grid;

  grid-template-columns: repeat(3, 1fr); */

  /* grid-auto-rows: 120px; */

}

.news-card {
  display: flex;


  /* background: rgba(0, 0, 0, 0.4); */
  /* background-image: url(news1.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  margin: 0;
  gap: 50px;
  padding: 10px;
  transition: all 200ms ease-in-out;
  border-radius: 10px;
}

.news-card-info {
  display: flex;
  flex-direction: column;
  max-width: 500px;
gap: 20px;
}

.news-card-image {
  border-radius: 10px;
 max-width: 500px;
} 

.date {
  font-size: 12px;
}

.rights-container {
  display: flex;
  justify-content: space-between;
}